In [3]:
import matplotlib.animation as ani
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [9]:
df = pd.DataFrame()
df['Bill'] = pd.Series(np.array(list(range(1,201))))
df['Perk'] = df['Bill'].apply(lambda x: x*0.96)
df['MasterCard-Perk'] = df['Perk'].apply(lambda x: x-int(x/8)/100*3)
df['MasterCard-Tesco'] = df['Bill'].apply(lambda x: x-int(x*4/5)/100*3)
df['Amex-Tesco'] = df['Bill'].apply(lambda x: x-int(x*1)/100)
df['Amex-Perk'] = df['Perk'].apply(lambda x: x-int(x*1)/100)
df['Optimal'] = df.idxmin(axis=1)
df

,Bill,Perk,MasterCard-Perk,MasterCard-Tesco,Amex-Tesco,Amex-Perk,Optimal
0,1,0.96,0.96,1.00,0.99,0.96,Perk
1,2,1.92,1.92,1.97,1.98,1.91,Amex-Perk
2,3,2.88,2.88,2.94,2.97,2.86,Amex-Perk
3,4,3.84,3.84,3.91,3.96,3.81,Amex-Perk
4,5,4.80,4.80,4.88,4.95,4.76,Amex-Perk
...,...,...,...,...,...,...,...
195,196,188.16,187.47,191.32,194.04,186.28,Amex-Perk
196,197,189.12,188.43,192.29,195.03,187.23,Amex-Perk
197,198,190.08,189.39,193.26,196.02,188.18,Amex-Perk
198,199,191.04,190.35,194.23,197.01,189.13,Amex-Perk
199,200,192.00,191.28,195.20,198.00,190.08,Amex-Perk

In [10]:
df.to_csv('results.csv', index=False)